<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammad.studentpa">

    <!-- permission required to automatically restart a repeating alarm if the user reboots-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--wake lock so the phone can be activated-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--permission to set the alarm-->
    <uses-permission android:name="com.example.mohammad.studentpa.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Organ Eyes"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/splashTheme" />
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity
            android:name=".util.Splash"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".milestones.TakeMilestoneNote" />
        <activity android:name=".spending.TakeSpendingItems" />
        <activity android:name=".reminders.TakeReminder" />
        <activity android:name=".schedule.TakeSchedule" />

        <!-- Register the Alarm Receiver -->
        <receiver android:name=".reminders.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>